__pycache__
keys.py
teste.py
erros.log
pega_tudo.py

# Arquivos gerados
/dados
candidatos_link.json
.vscode

# Arquivos tse
/tse/dados candidatos
/tse/dados tratados
/tse/candidatos.json

#fotos
/fotos_tratadas

# R
.RData
.Rhistory

.env

/bd/cron-job.log