@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");

body {
  font-family: Montserrat;
}

a:link,
a:visited {
  color: #20201e;
}

a:hover,
a:active {
  text-decoration: none;
  color: #7f3c8b;
}

h3 {
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  h3 {
    font-size: 1.3rem;
  }
}

.navbar {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid #20201e;
  margin-bottom: 3rem;
}

.reports {
  margin-bottom: 2rem;
}

.img-reports {
  margin-bottom: 1.5rem;
}

.main-title {
  margin: 0;
  padding: 0;
  padding-bottom: 3rem;
  font-weight: 700;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .main-title {
    font-size: 1.8rem;
  }
}
@media (min-width: 992px) {
  .main-title {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .main-title {
    font-size: 2.2rem;
  }
}

.title {
  border-left: 3px solid #20201e;
  padding-left: 1rem;
  font-size: 1rem;
}

.title > small {
  font-size: 0.9rem;
  color: #6c757d;
}

@media (min-width: 768px) {
  .title {
    font-size: 1.1rem;
  }
}
@media (min-width: 992px) {
  .title {
    font-size: 1.3rem;
  }
}
